# Entorno virtual
venv/
.env/
.env.local
.env.*.local

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Archivos de desarrollo
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de instalación
pip-delete-this-directory.txt

# Archivos generados por el usuario
*.sql
*.sqlite

node_modules/